body {
  /*background: url('./Images/blueInkF.jpg') no-repeat center center fixed;
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  margin: 0;
  height: 100%;
  width: 100%;
  color: #0148a4;
  font-family: 'Josefin Sans';
}

.myContent {
  text-align: center;
  margin-top: 20%;
}

.contentHeader {
  text-transform: uppercase;
  font-size: 3rem;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
}

#mainContent {
  text-align: center;
  margin-top: 20%;
}
