body {
  background: linear-gradient(270deg, #1fc197, #1f9cc1);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  -o-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: 'Josefin Sans';
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.myContent {
  text-align: center;
  margin-top: 15%;
  font-weight: 100;
  margin: 0 25%;
  font-size: 1.5rem;
}

.contentHeader {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
}

.projectContent {
  text-align: center;
  margin-top: 2%;
  font-weight: 100;
  margin: 0 25%;
  font-size: 1.5rem;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 100;
}

.subTitle {
  font-weight: 100;
}

#mainContent {
  text-align: center;
  margin-top: 6%;
  font-weight: 100;
}

.socialContainer {
  font-weight: 100;
  margin: 3%;
}

.socialLink {
  font-size: 2rem;
  margin: 0 1%;
  color: white;
  transition: all .5s;
}

.socialLink:hover {
  color: lightcoral;
  transition: all .5s;
}

.socialLink:visited {
  color: white;
}

#blogContainer {
  margin: 0 25%;
  text-align: center;
}

.blogPost {
  font-family: 'Josefin Sans';
  font-weight: 100;
}

.blogTitle {
  font-family: 'Josefin Sans';
  font-weight: 100;
}

h4 {
  font-family: 'Josefin Sans';
  font-weight: 100;
}

h3 {
  font-family: 'Josefin Sans';
  font-weight: 300;
}

a {
  color: lightcoral;
  text-decoration: none;
  font-family: 'Josefin Sans';
  font-weight: 400;
}

.projectContent {
  margin: 0 5%;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.projectImg {
  width: 25%;
  height: 25%;
  margin: 2%;
}

nav {
  visibility: hidden;
}

nav > a {
  margin: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  nav {
    visibility: visible;
  }
  .myContent {
    margin: 0 5%;
  }

  code {
    visibility: hidden;
  }

}